@font-face {
  font-weight: bold;
  font-family: "Oswald Medium";
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff");
  src: url("../fonts/oswaldmedium.woff2");
}

@font-face {
  font-weight: normal;
  font-family: "Oswald Regular";
  font-style: normal;
  src: url("../fonts/oswaldregular.woff");
  src: url("../fonts/oswaldregular.woff2");
}
