body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  line-height: 18px;
  background-color: $white;
  font-family: $oswald-regular;
  overflow-x: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
