$tablet-width: 768px;
$desktop-width: 1200px;

//colors
$white: #ffffff;
$light-grey: #e6e6e6;
$background-grey: #f2f2f2;
$grey-hvr: #ebebeb;
$black: #000000;
$green: #68b738;
$green-hvr: #5eaa2f;
$dark-grey: #444444;
$input: #e7e7e7;
$border-hvr: #cdcdcd;
$error: #ff8888;
$radiobutton: #d0d0d0;

//fonts
$oswald-regular: "Oswald Regular", "Arial", sans-serif;
$oswald-medium: "Oswald Medium", "Arial", sans-serif;
$arial: "Arial", "Helvetica", sans-serif;

//checkbox
$checkbox-padding-left: 35px;


//legend
$horizontal-margin-desktop-legend: 70px;
